
.dashboard_header{
	float: right;
}

.dashboard_content {
	font-weight: bold;
	padding-top: 60px;
	text-align: center;
}
.inline_block {
	display: inline-block;
}

.form_label {
	margin-bottom: 5px;
	text-align: left;
	font-size:25px;
}
.row {
	margin: 15px 0px;
	text-align: center;
}
input.input_field {
	width: 450px;
	height: 52px;
	border: none;
}
input:focus,.input_field :focus {
   border:none;
}

.signup_container {
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	width: 550px;
	margin: 50px auto;
	height:786px;
}
.signup_login_button {
	margin: 10px;
	text-decoration: none;
	text-align: center;
}

.signup_login_button a {
	text-decoration: none;
	font-weight: 700;
}

.signup_heading {
	font-size: 2em;
	font-weight: bold;
	padding-top: 60px;
	text-align: center;
}
.signup_container .error {
	color: red;
	padding: 0px;
	background: none;
	border: red;
	
}
.signup_container .error_field {
	border: 1px solid red;
}

.signup_container .error:before {
	padding: 0 3px;
	color: red;
}

.error_message{
	padding-top: 10px;
	color: red;
	text-align:center;
}
.success_message {
    padding-top: 10px;
	color: #176701;
	text-align: center;
}

input.btn {
	width: 250px
}

.signup_align {
	margin: 0 auto;
}
.signup_container{
    box-shadow: 0px 3px 35px 0px rgb(141 83 225);
    background-image: linear-gradient(to right, #ad77ff,#4d0aa4);
}
.form_label{
    color:white !important;
}
#login_btn{
    color:white;
    font-weight:bold;
    background:#202020;
    border:none;
    border-radius:5cm;
    font-size: 25px;
    box-shadow: 0px 6px 35px 0px rgb(17 17 17 / 40%);
}